<nav class="navbar shadow-sm fixed-top bg-white">
    
    <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='Logo.png') }}" class="logo">
    </a>

    <ul>
        <li><a href="{{ url_for('add_orders') }}">Add Orders</a></li>
        <li><a href="{{ url_for('track_orders') }}">Track Orders</a></li>
        <li><a href="{{ url_for('payments') }}">Payment</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('login') }}" id="login"> Login </a></li>
    </ul>
</nav>
