<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar shadow-sm fixed-top bg-white">
            <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='Logo.png') }}" class="logo">
            </a>
        </nav>
    </header>
    <div class="profile-layout">

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <div class="profile-top">
                <img class="user" src="{{ url_for('static', filename='icons/user.png') }}">
                <h3>{{ session.username }}</h3>
                <p>{{ session.email }}</p>
            </div>

            <ul class="menu">
                <li><a href="{{ url_for('services') }}">Add Orders</a></li>
                <li><a href="{{ url_for('track_orders') }}">Track Orders</a></li>
                <li><a href="{{ url_for('payments') }}">Payment</a></li>
                <li><a href="{{ url_for('manage_addresses') }}">Manage Address</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </aside>


        <!-- MAIN CONTENT -->
        <main class="profile-content">

            <h2 class="page-title">Personal Information</h2>

            <!-- USER INFO CARD -->
            <div class="card">
                <h3>Basic Details</h3>

                <div class="info-grid">
                    <div class="info-box">
                        <span>Username</span>
                        <p>{{ session.username }}</p>
                    </div>

                    <div class="info-box">
                        <span>Email</span>
                        <p>{{ session.email }}</p>
                    </div>
                </div>
            </div>

            <!-- CONTACT CARD -->
            <div class="card">
                <h3>Contact Details</h3>

                <div class="info-grid">
                    <div class="info-box">
                        <span>Phone Number</span>
                        <p>{{ address.phone_no }}</p>
                    </div>

                    <div class="info-box">
                        <span>Alternate Number</span>
                        <p>{{ address.alternate_phone_no }}</p>
                    </div>
                </div>
            </div>

            <!-- IMAGE -->
            <div class="image-card">
                <img src="{{ url_for('static', filename='image3.jpg') }}">
            </div>

        </main>
    </div>
</body>
</html>